#experience {
  padding: 5rem 1.5rem;
  margin: 0 auto;
  min-height: 750px;
}

.joblist-job-title {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  color: var(--text);
}

.joblist-job-company {
  color: var(--primary);
}

.joblist-duration {
  font-size: 0.9rem;
  color: var(--gray);
  margin-bottom: 1rem;
}

.job-description {
  padding-left: 1.2rem;
  margin: 0;
  text-align: justify;
}

.job-description li {
  margin-bottom: 0.8rem;
  line-height: 1.6;
  color: var(--text);
}
