#neural-mesh {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
  pointer-events: none;
  opacity: 0.85;
  padding-bottom: 3em;
  background-color: transparent; /* or a dark bg color if needed */
}

canvas {
  max-width: 100%;
  height: auto;
}
