#publications {
  padding: 5rem 0;
}

.publication-list {
  list-style: disc inside;
  font-size: 1rem;
  color: var(--color-text-primary);
}

.publication-list li {
  margin-bottom: 1rem;
  text-align: justify;
}

.publication-list a {
  text-decoration: none;
  color: var(--color-text-primary);
  font-weight: 500;
}

.publication-list a:hover {
  text-decoration: underline;
}

.venue {
  font-size: 0.9rem;
  color: var(--color-text-muted);
}